body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-position: center;
    color: #333;
}

/* Estilo del encabezado */
.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para todas las secciones */
section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

section h3 {
    color: #333;
}

/* Estilo para el sector de servicios */
#servicios {
    padding: 50px 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.service {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.service:nth-child(even) {
    flex-direction: row-reverse;
}

.service img {
    width: 700px;
    height: auto;
    border-radius: 10px;
    margin-right: 40px;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service .description {
    flex: 1;
    max-width: 600px;
}

.service .description h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

.service .description p {
    margin-bottom: 0;
    font-size: 24px;
}

/* Estilo para el pie de pagina */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
}
